{{#extends 'base'}}

{{#block 'content'}}
<b>Register</b>
<br/><br/>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Register" class="btn btn-primary btn-sm my-3"/>
    {{/block}}
</form>

{{/extends}}