{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Poster</h1>
<form method="POST">
    {{{form}}}
    <br/>
    <input type="submit" value="Add Poster" class="btn btn-primary btn-sm mb-2"/>
    <span><a href="/" class="btn btn-success btn-sm mb-2">Back to Home</a></span>
</form>


{{/block}}

{{/extends}}