{{#extends 'base'}}

{{#block 'content'}}

<h1>Update Movie Poster:{{product.title}}</h1>
<form method="POST">
    {{{form}}}
    <br/>
<input type="submit" class="btn btn-primary"/>
</form>
{{/block}}

{{/extends}}